._pay-now {
  display: flex;
  width: 750px;
  height: 112px;
  position: fixed;
  bottom: 0;
  background: white;

  > section.left {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 32px 30px;
    border-top: 1px solid #ededed;
  }

  ._pay-now-btn {
    width: 256px;
    height: 112px;
    line-height: 112px;
    font-size: 36px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    background: linear-gradient(313deg,
    rgba(15, 228, 204, 1) 0%,
    rgba(43, 125, 206, 1) 100%);
  }
}


.big-wrap {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, .3);
  z-index: 1;
  width: 750px;
  height: 100vh;


  > .wrap {
    position: fixed;
    bottom: 0;
    width: 750px;
    height: 704px;
    background: rgba(255, 255, 255, 1);
    border-radius: 60px 60px 0px 0px;
    z-index: 2;
  }
}
