.my-tag {
  display: inline-block;
  max-height: 36px;
  line-height: 36px;
  background: rgba(255, 233, 233, 1);
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(233, 43, 44, 1);
  padding: 0 6px;
}

.my-border-tag {
  display: inline-block;
  padding: 20px 38px;
  border-radius: 38px;
  border: 2px solid rgba(116, 121, 120, 1);
  font-size: 28px;
  font-weight: 400;
  color: rgba(38, 45, 44, 1);
}

.my-gray-tag {
  display: inline-block;
  padding: 20px 38px;
  border-radius: 38px;
  border: 2px solid white;
  background: rgba(248, 249, 250, 1);
  font-size: 28px;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
}

.my-small-gray-tag {
  width: 68px;
  height: 32px;
  background: rgba(243, 247, 247, 1);
  border-radius: 22px;
  font-size: 22px;
  font-weight: 400;
  color: rgba(116, 121, 120, 1);
  line-height: 32px;
  text-align: center;
}

.my-small-yellow-tag {
  padding: 0 16px;
  height: 56px;
  background: rgba(255, 247, 225, 1);
  border-radius: 8px;
  font-size: 30px;
  font-weight: 500;
  color: rgba(255, 195, 39, 1);
  line-height: 56px;
  text-align: center;
}

.my-blue-tag {
  display: inline-block;
  height: 40px;
  background: rgba(230, 249, 252, 1);
  border-radius: 4px;
  font-size: 20px;
  color: rgba(33, 163, 205, 1);
  line-height: 40px;
  padding: 0 20px;
}
