.my-tag {
  display: inline-block;
  max-height: 36px;
  line-height: 36px;
  background: rgba(255, 233, 233, 1);
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(233, 43, 44, 1);
  padding: 0 6px;
}
