.vip-gift-bag-page {
  .topic {
    padding: 30px;
    width: 750px;
    height: 846px;
    background: rgba(34, 34, 34, 1);
    box-sizing: border-box;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > .title {
        font-size: 36px;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        line-height: 50px;
      }
    }
  }
}
