.health-evaluated {
  display: flex;
  background: white;

  .left {
    width: 528px;
    overflow: hidden;

    > * {
      margin-bottom: 24px;
    }
  }

  .body-content {
    font-size: 26px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
  }

  .right {
    width: 128px;
  }
}
