.shop-index {
  background: white;
  border: 1px solid white;

  .search {
    display: flex;
    padding: 20px 28px;
    background: rgba(243, 244, 245, 1);
    margin: 24px 0;
    border-radius: 37px;

    input {
      font-size: 28px;
      font-weight: 400;
      color: rgba(38, 45, 44, 1);
      width: 100%;
    }

    img {
      width: 32px;
      margin-right: 10px;
    }
  }
}

.vip-good {
  display: flex;
  padding: 28px 0;

  .good-img {
    flex-shrink: 0;
    width: 228px;
    height: 228px;
    margin-right: 20px;
  }

  .right {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 30px;
      font-weight: 400;
      color: rgba(38, 45, 44, 1);
    }

    .dis {
      font-size: 26px;
      font-weight: 400;
      color: rgba(116, 121, 120, 1);
    }

    .sold-out {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 22px;
      font-weight: 400;
      color: rgba(187, 189, 189, 1);
      margin-top: 10px;
    }

    .price {
      display: flex;
      align-items: center;
      justify-content: space-between;

      :first-child {
        font-size: 32px;
        font-weight: 500;
        color: rgba(233, 43, 44, 1);
      }

      :nth-last-child(2) {
        margin-left: auto;
        margin-right: 10px;
        font-size: 20px;
        font-weight: 400;
        color: rgba(116, 121, 120, 1);
      }
    }
  }
}
