.question-container{
    height: 100vh;
    background:rgba(248,249,250,1);
    .question-container-top{
        display: flex;
        height:128px;
        background:rgba(255,255,255,1);
        box-shadow:8px 16px 24px 0px rgba(159,187,186,0.18);
        padding: 0 30px;
        align-items: center;
        justify-content: space-between;
        .question-image{
            width: 40px;
            height: 40px;
        }
        p{
            width:116px;
            height:48px;
            background:linear-gradient(313deg,rgba(15,228,204,1) 0%,rgba(43,125,206,1) 100%);
            border-radius:8px;
            color: #fff;
            text-align: center;
            line-height: 48px;
            font-size:28px;
            font-weight:500;
        }
    }
    .question-container-con{
        width:690px;
        height:344px;
        background:rgba(255,255,255,1);
        border-radius:16px;
        margin:36px 15px 36px 15px; ;
    }
    .question-container-text{
        background:rgba(255,255,255,1);
        border-radius:16px;
        line-height: 10px;
        border-color: #fff;
    }
}