.label-width-ruler {
  display: flex;
  height: 168px;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 28px 0px rgba(177, 192, 191, 0.3);
  border-radius: 16px 0 0 16px;
  padding: 0 0 0 30px;
  margin-left: 54px;

  .left {
    display: flex;
  }
}

