._font(@fontSize:32px, @color:#262D2C,@fontWeight:500) {
  font-size: @fontSize;
  color: @color;
  font-weight: @fontWeight;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
  font-size: 32px;
  font-weight: 500;
  color: rgba(38, 45, 44, 1);
  background: transparent;
}
